
.my-login-container {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    color: blue;
    z-index: 1;
}
.my-login-page-container {
    width: 30%;
    min-height: 80vh;
    height: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
    background-color: azure;
    border-radius: 3%;
    padding: 2%;
}
.my-login-logo-container {
    text-align: center;
    
}
.my-login-logo-container img {
    max-width: 30%;
    height: auto;
}
.my-login-form-box {
    margin: 5%;
    background-color: white;
    padding: 5%;
    border-radius: 3%;
}
.my-login-forgot-password {
    text-align: center;
    margin-top: 4%;
}
.my-login-forgot-password-link {
    text-decoration: none;

}

.my-login-forgot-password-link:hover {
    color: blueviolet;
    
}
.my-login-remember-me {
    margin: 3%;
    padding: 3%;
}
.error-message-container {
    text-align: center;
    color: red;
}
.my-modal-container {
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
}